.matrix {
  display: flex;
  flex-wrap: wrap;
  width: 750px;
}

.cell {
  width: 15px;
  height: 15px;
  background-color: white;
  border: solid 1px gray;
  box-sizing: border-box;
}

.cell.alive {
  background-color: black;
}
